<div class="page-header">
	<% if is_admin? %>
	  <%= link_to new_genre_path, class: 'btn btn-primary' do %>
	    <span class="glyphicon glyphicon-plus"></span>
	    New Genre
	  <% end %>
  <% end %>
  <h1>Listing genres</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
				<% if is_admin? %>
	        <th></th>
	        <th></th>
			  <% end %>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @genres) do |genre| %>
            <td><%= link_to genre.name, genre %></td>
				<% if is_admin? %>		
	        <td><%= link_to 'Edit', edit_genre_path(genre) %></td>
	        <td><%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			  <% end %>
      <% end %>
    </tbody>
  </table>
</div>
