<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @genre.name %>
</p>

<p>
	<strong>Artists:</strong>
	<ul>
		<% @genre.artists.each do |artist| %>
			<li>
    			<%= link_to artist.name, artist %>
			</li>
		<% end %>
	</ul>
</p>

<p>
	<strong>Songs:</strong>
	<ul>
		<% @genre.songs.each do |song| %>
			<li>
    			<%= link_to song.title, song %>
			</li>
		<% end %>
	</ul>
</p>

<% if @is_admin %>
	<%= link_to 'Edit', edit_genre_path(@genre) %> |
<% end %>
<%= link_to 'Back', genres_path %>
