<div class="page-header">
  <%= link_to new_request_access_to_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Request access to
  <% end %>
  <h1>Listing request_access_tos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>User</th>
            <th>Playlist</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @request_access_tos) do |request_access_to| %>
            <td><%= request_access_to.user_id %></td>
            <td><%= request_access_to.playlist_id %></td>
            <td><%= link_to 'Show', request_access_to %></td>
        <td><%= link_to 'Edit', edit_request_access_to_path(request_access_to) %></td>
        <td><%= link_to 'Destroy', request_access_to, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
