<div class="page-header">
  <%= link_to artists_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
	<% if is_admin? %>
	  <%= link_to edit_artist_path(@artist), class: 'btn btn-primary' do %>
	    <span class="glyphicon glyphicon-pencil"></span>
	    Edit
	  <% end %>
	<% end %>
  <h1>Show artist</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @artist.name %></dd>

  <dt>Country:</dt>
  <dd><%= Country.find(@artist.country_id).name %></dd>

	<dt>Songs:</dt>
	<dd><ul>
		<% @artist.songs.each do |song| %>
			<li>
    			<%= link_to song.title, song %>
			</li>
		<% end %>
	</ul></dd>

	<dt>Genres:</dt>
	<dd><ul>
		<% @artist.genres.each do |genre| %>
			<li>
    			<%= link_to genre.name, genre %>
			</li>
		<% end %>
	</ul></dd>
</dl>