<div class="page-header">
	<% if is_admin? %>
	  <%= link_to new_user_path, class: 'btn btn-primary' do %>
	    <span class="glyphicon glyphicon-plus"></span>
	    New User
	  <% end %>
	<% end %>
  <h1>Listing users</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
						<th>Followers</th>
						<th>Following</th>
						<th>Status</th>
			  <% if is_admin? %>				
	        <th></th>
	        <th></th>
				<% end %>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @users) do |user| %>
        		<td><%= link_to user.username, user %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
		        <td><%= user.followers.size %></td>
		        <td><%= user.following.size %></td>
						<td>
							<% if user != current_user %>
								<% if is_following(user) %>
									<%= button_to 'Unfollow', {:controller => "follows", :action => "destroy", :id => current_user.id, :following_id=> user.id} , :method=>:delete  %>			
								<% else %>
									<%= button_to 'Follow', {:controller => "follows", :action => "create", :follower_id => current_user.id, :following_id=> user.id} , :method=>:post  %>			
								<% end %>
							<% end %>
						</td>
			  <% if is_admin? %>		
	        <td><%= link_to 'Edit', edit_user_path(user) %></td>
	        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
      <% end %>
    </tbody>
  </table>
</div>