<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
	<strong>Collaborates in:</strong>
	<%= @user.playlists.join(',') %>
</p>

<p>
	<strong>Following:</strong>
	<ul>
		<% @user.following.each do |followed| %>
			<li>
    			<%= link_to followed.username, followed %>
			</li>
		<% end %>
	</ul>
</p>

<p>
	<strong>Followers:</strong>
	<ul>
		<% @user.followers.each do |follower| %>
			<li>
    			<%= link_to follower.username, follower %>
			</li>
		<% end %>
	</ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
