<div class="page-header">
  <%= link_to users_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
	<% if @is_admin %>
	  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
	    <span class="glyphicon glyphicon-pencil"></span>
	    Edit
	  <% end %>
	<% end %>
  <h1>Show user</h1>
</div>

<dl class="dl-horizontal">
  <dt>Username:</dt>
  <dd><%= @user.username %></dd>

  <dt>First name:</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @user.last_name %></dd>

	<dt>Collaborates in:</dt>
	<dd><ul>
		<% @user.playlists.each do |playlist| %>
			<li>
    			<%= link_to playlist.name, playlist %>
			</li>
		<% end %>
	</ul></dd>

	<dt>Following:</dt>
	<dd><ul>
		<% @user.following.each do |followed| %>
			<li>
    			<%= link_to followed.username, followed %>
			</li>
		<% end %>
	</ul></dd>

	<dt>Followers:</dt>
	<dd><ul>
		<% @user.followers.each do |follower| %>
			<li>
    			<%= link_to follower.username, follower %>
			</li>
		<% end %>
	</ul></dd>

</dl>
