<div class="page-header">
  <%= link_to songs_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
	<% if @is_admin %>	
	  <%= link_to edit_song_path(@song), class: 'btn btn-primary' do %>
	    <span class="glyphicon glyphicon-pencil"></span>
	    Edit
	  <% end %>
	<% end %>
  <h1>Show song</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @song.title %></dd>
	
  <dt>Duration:</dt>
  <dd><%= Time.at(@song.duration).utc.strftime("%M:%S") %></dd>

  <dt>Artist:</dt>
  <dd><%= @song.artists.join(',') %></dd>

  <dt>Album:</dt>
  <dd><%= @song.albums.join(',') %></dd>

	<% if @song.source == 'Youtube' %>
		<dt></dt>
		<dd>
			<iframe width="420" height="315" src= <%= "#{@song.embed_url}" %>>
			</iframe>
		</dd>
	<% end %>

	<dt>Genres:</dt>
	<dd><ul>
		<% @song.genres.each do |genre| %>
			<li>
    			<%= link_to genre.name, genre %>
			</li>
		<% end %>
	</ul></dd>

</dl>