<div class="page-header">
  <%= link_to new_included_in_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Included in
  <% end %>
  <h1>Listing included_ins</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Song</th>
            <th>Album</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @included_ins) do |included_in| %>
            <td><%= included_in.song_id %></td>
            <td><%= included_in.album_id %></td>
            <td><%= link_to 'Show', included_in %></td>
        <td><%= link_to 'Edit', edit_included_in_path(included_in) %></td>
        <td><%= link_to 'Destroy', included_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
