<p id="notice"><%= notice %></p>

<h1>Listing Albums</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
			<th>Number of Songs</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= link_to album.title, album %></td>
        <td><%= album.songs.size %></td>
        <td><%= album.year %></td>
	  		<% if @is_admin %>
        	<td><%= link_to 'Edit', edit_album_path(album) %></td>
        	<td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @is_admin %>
	<%= link_to 'New Album', new_album_path %>
<% end %>
