<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<p>
	<strong>Songs:</strong>
	<ul>
		<% @album.songs.each do |song| %>
			<li>
    			<%= link_to song.title, song %>
			</li>
		<% end %>
	</ul>
</p>

<% if @is_admin %>
	<%= link_to 'Edit', edit_album_path(@album) %> |
<% end %>
<%= link_to 'Back', albums_path %>
