<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
	<strong>Artists:</strong>
	<ul>
		<% @artists.each do |artist| %>
			<li>
    			<%= link_to artist.name, artist %>
			</li>
		<% end %>
	</ul>
</p>

<% if @is_admin %>
	<%= link_to 'Edit', edit_country_path(@country) %> |
<% end %>
<%= link_to 'Back', countries_path %>
