<p id="notice"><%= notice %></p>

<h1>Listing Playlists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
			<th>Collaborator status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlists.each do |playlist| %>
			<% if playlist.is_public or @is_admin or @logged_in_user.playlists.include? (playlist)  %>
	      <tr>
	        <td><%= link_to playlist.name, playlist %></td>
					
					<% if is_collaborator(playlist) %>
						<td><%= 'Collaborating' %></td>
					<% elsif requested_access(playlist) %>
						<td><%= 'Requested access. Waiting for approval.' %></td>
					<% else %>
						<td><%= 'Request Access' %></td>
					<% end %>
					
		  		<% if @is_admin %>
	        	<td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
	        	<td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
					<% end %>	
	      </tr>
			<% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playlist', new_playlist_path %>
