<div class="page-header">
  <%= link_to new_playlist_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Playlist
  <% end %>
	<% if all_playlists %>
  	<h1>Listing playlists</h1>
	<% else %>
  	<h1>Listing my playlists</h1>
	<% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
						<th>Number of songs</th>
						<th>Collaborator status</th>
	  		<% if is_admin? %>		
	        <th></th>
	        <th></th>
				<% end %>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @playlists) do |playlist| %>
				<% if playlist.is_public or is_admin? or current_user.playlists.include? (playlist)  %>
			
	        <td><%= link_to playlist.name, playlist %></td>
	        <td><%= playlist.songs.size %></td>
					
					<% if is_collaborator(playlist) %>
						<% if all_playlists %>
							<td><%= 'Collaborating' %></td>
						<% else %>
							<td><%= button_to 'Stop collaborating', {:controller => "collaborates_ins", :action => "destroy", :id => @logged_in_user.id, :playlist_id=> playlist.id} , :method=>:delete%></td>
						<% end %>
					<% elsif requested_access(playlist) %>
						<td><%= 'Requested access. Waiting for approval.' %><%= button_to 'Cancel', {:controller => "request_access_tos", :action => "destroy", :id => @logged_in_user.id, :playlist_id=> playlist.id, :type => 'cancel'} , :method=>:delete%>	</td>
					<% else %>
						<td><%= button_to 'Request access', {:controller => "request_access_tos", :action => "create", :user_id => @logged_in_user.id, :playlist_id=> playlist.id} , :method=>:post  %></td>
					<% end %>
			  	<% if is_admin? %>	
		        <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
		        <td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
					<% end %>
				<% end %>
      <% end %>
    </tbody>
  </table>
</div>