<div class="page-header">
  <%= link_to playlists_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
	<% if @is_admin %>
	  <%= link_to edit_playlist_path(@playlist), class: 'btn btn-primary' do %>
	    <span class="glyphicon glyphicon-pencil"></span>
	    Edit
	  <% end %>
	<% end %>
  <h1>Show playlist</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @playlist.name %></dd>

	<% if @playlist.is_public %>
	  <dt>Public</dt><dd></dd>
	<% end %>

	<dt>Songs:</dt>
	<dd><ul>
		<% @playlist.songs.each do |song| %>
			<li>
    			<%= link_to song.title, song %>
			</li>
		<% end %>
	</ul></dd>

	<dt>Collaborators:</dt>
	<dd><ul>
		<% @playlist.collaborators.each do |collaborator| %>
			<li>
    			<%= link_to collaborator.username, collaborator %>
			</li>
		<% end %>
	</ul></dd>


</dl>