<div class="page-header">
  <%= link_to playlists_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
	<% if is_admin? %>
	  <%= link_to edit_playlist_path(@playlist), class: 'btn btn-primary' do %>
	    <span class="glyphicon glyphicon-pencil"></span>
	    Edit
	  <% end %>
	<% end %>
  <h1>Show playlist</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @playlist.name %></dd>

	<% if @playlist.is_public %>
	  <dt>Public</dt><dd></dd>
	<% end %>

	<dt>Songs:</dt>
	<dd>
		<div class="table-responsive">
		  <table class="table table-striped table-bordered table-hover">
		    <thead>
		      <tr>
		            <th>Title</th>
						  	<th>Artist</th>
						  	<th>Album</th>	
								<th></th>
		      </tr>
		    </thead>

		    <tbody>
		      <%= content_tag_for(:tr, @playlist.songs) do |song| %>
		        		<td><%= link_to song.title, song %></td>
				        <td><%= song.artists.join(',') %></td>
								<td><%= song.albums.join(',') %></td>
								<td>
									<%= button_to 'Remove', {:controller => "contains", :action => "destroy", :id => song.id, :playlist_id=> @playlist.id} , :method=>:delete  %>
								</td>		
		      <% end %>
		    </tbody>
		  </table>
		</div>
	</dd>

	<dt>Collaborators:</dt>
	<dd><ul>
		<% @playlist.collaborators.each do |collaborator| %>
			<li>
    			<%= link_to collaborator.username, collaborator %>
			</li>
		<% end %>
	</ul></dd>


</dl>